@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab),url('./img/bg1.jpeg');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3d5, #8e9eabd5),url('./img/bg1.jpeg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    color: #fff;
    background-position-y: 80%;
}

.mycard {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 45vh;
    margin: 1rem;
    position: relative;
    width: 75vh;
    padding: 20px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  
     .mycard:hover {
       box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
     }
      img{
      width: 100%;
      }
      .caller-img{
      height: 100px;
      width: 100px;
      border-radius: 50px;
      margin: 5% auto;
      margin-bottom: 10px; 
       overflow: hidden;
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
     }


    button{
      background: none;
      height: 35px;
      width: 50%;
      margin: 10px;
      border-radius: 17.5px;
      color: #fff;
      border: none;
      transition: all 0.2s ease-out;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      outline: none !important;
      font-family: 'Tajawal', sans-serif;
      font-weight: 600;
      

    }
    .buttons{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 7%;
    }
    .answer{
        background: #23C552;
    }
    .reject{
        background: #F84F31;
    }
    .answer:hover{
        box-shadow:
        0 0 14px 2px rgb(91, 212, 60)
    }
    .reject:hover{
        box-shadow: 0 0 14px 2px #FF4040;
    }